/* Tags  */

a, a:hover, a:visited {
  text-decoration: none;
  color:#ffffff;
}

/* Typografy */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Dancing Script', cursive;
}



@media screen and (max-width: 600px) {
  section {
    text-align: left;
  }
}

@media screen and (min-width: 601px) {
  section {
    text-align: justify;
  }
}

section {
  font-weight: bold;
}

.em {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-size: 1.4em;
  font-style: normal;
  font-weight: bold;
}



/* Navigation */

@media screen and (max-width: 800px) {
    .navbar {
        flex-direction:column;
    }
}

@media screen and (max-width: 1000px) {
    .navh1 {
        font-size: 1.5em;
    }
}


@media screen and (min-width: 801px) {
  .navbar {
      flex-direction:row;
  }
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: justify;
  justify-content: justify;
  width:100%;
}

.navh1 {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  color: #D83423;
}

.navh1 a {
  color: #D83423;
  text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

#sponsorer.anchor {
    top: 0px;
}



/* Sections and styling */


body, html, .container-fluid  {
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 100%;
}

#header0 {
    background-image:url("img/0.jpg");
}

#header1 {
    background-image:url("img/1.jpg");
}

#header2 {
    background-image:url("img/2.jpg");
}

#header3 {
    background-image:url("img/3.jpg");
}


#header0 {
  min-height: 100%;
  height: 100%;
}

#header1, #header2, #header3 {
  min-height: 50%;
  height: 50%;
  z-index: 0;
}

header {
  min-width: 100%;
}

section {
  min-width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 4%;
}

footer {
  min-width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 4%;
  min-height: 100%;
  height: 100%;
}

.shadow {
   -moz-box-shadow:    inset 0 7px 9px -7px #000000;
   -webkit-box-shadow: inset 0 7px 9px -7px #000000;
   box-shadow:         inset 0 7px 9px -7px #000000;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Items */

@media screen and (max-width: 800px) {
    #logo-div {
        position: absolute;
        width:70%;
        margin-top: 5%;
        margin-left:15%;
        margin-right:15%;
    }
}

@media screen and (min-width: 801px) {
    #logo-div {
        position: fixed;
        width:15%;
        top:5%;
        left:2%;
    }
}


#logo-div {
  z-index: 1000;
}


#logo {
  width: 100%;
}

#nti-logo {
  width: 100%;
  max-width: 300px;
}

.snowflakes {
  width:100%;
  padding-top: 40px;
  text-align: center;
  clear:both;
}

.snowflakes img {
  width: 2em;
}

@media screen and (max-width: 990px) {
    .by-icons{
        display:none;
    }
}

@media screen and (min-width: 991px) {
    .by-icons {
        display: inline;
    }
}


.icons {
  font-size: 2em;
  margin: 1em 1em 0 1em;
}

.by-icons {
  font-size: 0.8em;
  vertical-align: middle;
  margin: 0 1em 0 1em;
}


/* Color helpers */

.red-bg { background-color: #D83423; }
.red-hi-bg { background-color: #EB6B64; }
.red-sh-bg { background-color: #B0312A; }

.green-bg { background-color: #2AC63D; }
.green-hi-bg { background-color: #4EB65B; }
.green-sh-bg { background-color: #20882D; }

.blue-bg { background-color: #3353AC; }
.blue-hi-bg { background-color: #4D639E; }
.blue-sh-bg { background-color: #263B76; }

.yellow-bg { background-color: #F9FE36; }
.yellow-hi-bg { background-color: #E7EA64; }
.yellow-sh-bg { background-color: #ACAF2A; }

.grey-bg { background-color: #aaaaaa; }
.grey-hi-bg { background-color: #d6e6e6s; }
.grey-sh-bg { background-color: #7e7e7e; }

.white-text { color: #ffffff; }
.black-text { color: #111111; }
